* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}
.container {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  min-height: 500px;
  background-image: url(../img/Rectangle.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 48px;
  align-items: center;
}
.logo__company {
  display: flex;
  color: #ff7a00;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 400;
  line-height: 42px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 60px;
}

.menu__link {
  position: relative;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
.menu__list--active {
  color: #c7c7c7;
}
.menu__list--active::before {
  content: "";
  position: absolute;
  top: 25px;
  height: 2px;
  border-radius: 2px;
  background-color: #c7c7c7;
  width: 100%;
}
.header__subtitle {
  padding-top: 150px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-weight: 600;
  line-height: 42px;
  text-transform: uppercase;
}
.calculator {
  background-color: rgb(41, 41, 41);
}
.calculator-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 200px 10px;
}
.calcutor-blockleft__title {
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  margin-bottom: 1em;
  color: #fafafa;
}
.calcutor-blockleft__subtitle {
  max-width: 470px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 1em;
  color: #fafafa;
}
/* стилизация формы */
.calcutor-blockright {
  background-color: #3f3f44;
  box-shadow: 0 0 15px #fffdfd;
  border-radius: 2rem;
  flex-basis: 300px;
  box-sizing: border-box;
  padding: 2rem;
}
.calculator__control {
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.calculator__label {
  color: #fafafa;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.calculator select {
  appearance: none;
  position: relative;
  background-image: url(../img/arrow.png);
  background-size: 10px 8px;
  background-position: 95% 50%;
  background-repeat: no-repeat;
}
.calculator input[type="number"],
.calculator select {
  background-color: #fafafa;
  border: 1px solid #514e71;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  flex-basis: 150px;
  display: inline-block;
  box-sizing: border-box;
  padding: 0.6em;
}
.calculator input[type="number"]:invalid:focus {
  background-color: rgba(17, 188, 250, 0.997);
  border-color: rgb(85, 7, 61);
}

.calculator p.calculator__label {
  flex-basis: 100%;
}
.calculator input[name="activity"] {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
}
.calculator input[name="activity"] + label {
  display: block;
  padding-left: 24px;
  position: relative;
}
.calculator input[name="activity"] + label::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 0;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #fafafa, 0 0 0 3px #514e71;
}
.calculator input[name="activity"]:checked + label::before {
  box-shadow: inset 0 0 0 6px #514e71, 0 0 0 1px #fafafa, 0 0 0 3px #514e71;
}
.calculator__button {
  background-color: #514e71;
  color: #fafafa;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  border: none;
  display: block;
  box-sizing: border-box;
  width: 150px;
  margin-left: auto;
  border-radius: 4px;
  transition: 0.22s;
  padding: 0.6em;
  transition: all ease 2ms;
}
.calculator__button:hover {
  background-color: #6d6991;
}
.calculator__result {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin-top: 1em;
}
